@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.app__navbar {
  width: 100%;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  --webkit-backdrop-filter: blur(6px);
  border: solid 1px rgba(255, 255, 255, 0.1);
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }

  .app__navbar-extra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--dark-color);
  padding: 7px 12px;
  

  p {
    font-size: 1.1rem;
    font-weight: 900;
    font-family: consolas;
    letter-spacing: 1px;
    color: var(--green-color);

    span {
      animation: blink 1s infinite;
    }
  }
}

.app__navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  list-style-type: none;

  li {
    flex-direction: column;
    margin: 0 1.3rem;
    cursor: pointer;

    a {
      color: var(--grey-color);
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      text-decoration: none;
      flex-direction: column;
      transition: all 0.3s ease-in-out;

      &:hover {
        transition: all 0.2s ease-in-out;
        color: var(--secondary-color);
        // &::before {
        //   content: "< ";
        // }
        // &::after {
        //   content: " />";
        // }
      }
    }

    &:hover {
      color: var(--secondary-color);
    }
  }

  @media screen and (max-width: 690px) {
    display: none;
  }
}

.app__navbar-toggle-theme {
  display: flex;
  flex-direction: row;
  padding: 5px;  

.app_navbar-toggle-off {
  width: 25px;
  height: 25px;
  
  svg {
    width: 100%;
    height: 100%;    
    color: var(--black-color);
  }
}

.app_navbar-toggle-on {
  width: 25px;
  height: 25px;
  
  svg {
    width: 100%;
    height: 100%;    
    color: var(--white-color);
  }
}
  
}

.app__navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: solid 1px var(--green-color);
  border-radius: 50px;
  position: relative;
  height: 35px;
  width: 35px;
  position: relative;

  svg {
    height: 75%;
    width: 75%;
    color: var(--black-color);
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    height: 100vh;
    width: 70%;
    padding: 1.1rem;

    background: rgba(255, 255, 255, 0.4);
    background-color: var(--white-color);
    background-size: cover;
    background-repeat: repeat;
    box-shadow: var(--light-shadow);

    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

    svg {
      width: 40px;
      height: 40px;
      color: var(--secondary-color);
      margin-right: 0.5rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        margin: 0.9rem;

        a {
          color: var(--grey-color);
          font-size: 1rem;
          font-weight: 600;
          text-decoration: none;
          text-transform: uppercase;

          transition: all 0.2s ease-in-out;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }
  }

  @media screen and (min-width: 690px) {
    display: none;
  }
}

.dark-mode-1 {
  .app__navbar-logo > p,
  span {
    color: var(--green-color);
  }
  .app__navbar-links a {
    color: green;

    &:hover {
      color: var(--gray-color);
    }
  }

  .app__navbar-menu {
    background-color: var(--darkbg-color-1);

    svg {
      color: var(--gray-color);
    }

    div {
      background: rgba(20, 20, 20, 0.994);
      box-shadow: 0 0 0;

      svg {
        color: var(--gray-color);
      }
      ul {
        border-top: solid 1px var(--green-color);
        margin-top: 20px;
        a {
          color: var(--lightGray-color);

          &:hover {
            color: var(--green-color);
          }
        }
      }
    }
  }
}
