.app__footer {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin-top: 6rem;
  }

  .app__footer-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap-reverse;
    margin: 4rem 0;
    
  }

  .app__footer-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 300px;

    cursor: pointer;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    background-color: var(--white-color);
    transition: all .3s ease-in-out;

    img {
      height: 40px;
      width: 40px;
      margin: 0 .7rem;
    }

    a {
      font-weight: 700;
      text-decoration: none;
    }

    &:hover {
      box-shadow: var(--medium-shadow);
    }

    @media screen and (max-width: 450px) {
      width: 70%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: .5rem  0;
      
    }
  }

  .app__footer-icons {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    border-radius: 10px;

    a {
      background-color: var(--white-color);
      padding:.8rem;
      margin: .5rem;
      border-radius: 50%;
      transition: all .3s ease-in-out;
      img {
        width: 40px;
        height: 40px;
        border-radius: 10%;
        object-fit: cover;
      }

      &:hover {
        box-shadow: var(--light-shadow);
      }

      @media screen and (max-width: 350px) {
        margin: .2rem;
      }
    }
  }

  h2 {
    margin-top: 6rem;
  }

  h3 {
    margin: 0 0 5rem 0;
  }

  @media screen and (max-width: 750px) {
    width: 100%;
  }
}

.app__footer-form {
  width: 100%;
  flex-direction: column;
  margin: 0 0 2rem 0;

  div {
    cursor: pointer;
    width: 50%;
    margin: .75rem 0;
    border-radius: 10px;
    background-color: var(--primary-color);
    transition: all .3s ease-in-out;

    input, textarea {
      width: 100%;
      padding: .95rem;
      border: none;
      outline: none;
      border-radius: 7px;
      font-family: var(--font-base);
      color: var(--black-color);
      background-color: var(--white-color);
      font-weight: 800;

     
    }

    textarea {
      height: 150px;
    }

    &:hover {
      box-shadow: var(--light-shadow);
    }

    @media screen and (max-width: 450px) {
      width: 100%;
    }

    @media screen and (max-width: 900px) {
      width: 80%;
    }
  }

  button {
    cursor: pointer;
    margin: 2rem 0 0 0 ;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 10px;
    color: var(--white-color);
    background-color: var(--secondary-color);
    font-weight: 500;
    font-family: var(--font-base);
  }
}